@import "mixins/flexbox";

body .wrapper .content{
    padding: 0;
    flex-grow: 10;
    border-left: 0.5px solid #C9C9C9;

    @include flexbox-container(
        $display,
        $flex-direction,
        $flex-wrapper,
        $justify-content,
        $flex-pack,
        $align-content,
        $flex-line-pack,
        $align-items
    );
    
    .header{
        width: 100%;
        
        @include flexbox-child(
            $order,
            $flex,
            $align-self
        );
        
    }
    .main{
        width: 100%;
        padding: 0;
        
        @include flexbox-child(
            $order,
            1 1 auto,
            $align-self
        );
        
        .panel{
            margin: 0;
            border-radius: 0;
            .panel-heading .breadcrumb{
                margin: 0;
            }
            .panel-body{
                padding: 0 15px;
                border: 0;
                margin: 0;
                .table{
                    margin: 15px 0;
                    padding: 0;
                }
                .form{
                    .wrapper-content{
                        width: 100%;
                    }
                    #radioBtn .notActive{
                        color: #3276b1;
                        background-color: #fff;
                    }
                }
            }
            .panel-footer .pagination{
                padding: 0;
                margin: 0;
            }
        }
    }
    .footer{
        width: 100%;
        flex: 1 100%;
        @include flexbox-child(
            $order,
            $flex,
            $align-self
        );
    }
}