body .wrapper .sidebar, 
body .wrapper .sidebar .sidebar-nav{
    background-color: #fff;
    flex-grow: 0;
    padding: 0;
    
    .sidebar-nav {
        overflow:auto;
    }
    
    .sidebar-search {
        padding: 15px;
    }

    ul li {
        border-right: 1px solid #e7e7e7;
        border-bottom: 1px solid #e7e7e7;
        a.active {
            background-color: #eeeeee;
        }
    }
    
    .arrow {
        float: right;
    }
    
    .fa.arrow:before {
        content: "\f104";
    }
    .active > a > .fa.arrow:before {
        content: "\f107";
    }
    
    .nav-second-level li,
    .nav-third-level li {
        border-bottom: none;
    }
    
    .nav-second-level li a {
        padding-left: 37px;
    }
    
    .nav-third-level li a {
        padding-left: 52px;
    }
}